<nav>
	<a href="/fftechwiki">
		<img loading="lazy" src="/fftechwiki/images/chieftain-dance.png">
		{%- if page.title != "FF Tech Wiki" -%}
			<p>FF Tech Wiki</p>
		{%- endif -%}
	</a>
	
	<details open>
		<summary><a href="/fftechwiki/file-formats">File Formats</a></summary>
		<ul>
			{%- for fileFormat in site.data.fileFormats.both -%}
				{%- if fileFormat.url -%}
					<li><a href="{{ fileFormat.url }}">{{ fileFormat.name | default: fileFormat.description }} ({{ fileFormat.magicBytes }})</a></li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
		
		<hr>
		
		<ul>
			{%- for fileFormat in site.data.fileFormats.ff1Only -%}
				{%- if fileFormat.url -%}
					<li><a href="{{ fileFormat.url }}">{{ fileFormat.name | default: fileFormat.description }} ({{ fileFormat.magicBytes }})</a></li>
				{%- endif -%}
			{%- endfor -%}
		</ul>
	</details>
	
	<details open>
		<summary>Other stuff</summary>
		<ul>
			<li><a href="/fftechwiki/flags">Flags</a></li>
			<li><a href="/fftechwiki/index-files">Index Files</a></li>
		</ul>
	</details>
</nav>
