<nav>
	<p><a href="/fftechwiki">FF Tech Wiki Home</a></p>
	
	<!-- <details> -->
	<!-- 	<summary><a href="https://example.com">overview? articles?</a></summary> -->
	<!-- 	<ul> -->
	<!-- 		<li>something</li> -->
	<!-- 	</ul> -->
	<!-- </details> -->
	
	<details open>
		<summary><a href="/fftechwiki/file-formats">File Formats</a></summary>
		<ul>
			<li><a href="/fftechwiki/file-formats/index-files">Index Files</a></li>
		</ul>
		
		<hr>
		
		<ul>
			<li><a>DEX</a></li>
			<li><a>DEP</a></li>
			<li><a>DMG</a></li>
			<li><a>DMS</a></li>
			<li><a>DTX</a></li>
			<li><a>MAR, MCM</a></li>
			<li><a>MM3</a></li>
			<li><a>MPM</a></li>
			<li><a>RLS</a></li>
		</ul>
		
		<hr>
		
		<ul>
			<li>3D models</li>
			<ul>
				<li><a>Meshes</a></li>
				<li><a>Animations</a></li>
				<li><a>Textures</a></li>
			</ul>
			
			<li>Images</li>
			<ul>
				<li><a>Palettes</a></li>
				<li><a>Bitmaps</a></li>
				<li><a>BG Maps</a></li>
			</ul>
			
			<li>Sprites</li>
			<ul>
				<li><a>Animations</a></li>
				<li><a>Palettes</a></li>
				<li><a>Bitmaps</a></li>
			</ul>
		</ul>
		
	</details>
	
	<details open>
		<summary>Reference tables</summary>
		<ul>
			<li><a>Vivosaurs</a></li>
			<li><a>Fossils</a></li>
			<li><a>Characters</a></li>
		</ul>
	</details>
</nav>
