nav {
	min-width: 20ch;
	
	& > a:first-child {
		img {
			width: 10ch;
			height: 10ch;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		
		p {
			margin-top: 0;
			text-align: center;
		}
	}
	
	details {
		background-color: light-dark(#f0f0f0, #202020);
		border-radius: 0.5rem;
		overflow: hidden; /* hides corners in summary */
		
		summary {
			padding: 0.5rem;
			background-color: light-dark(#e0e0e0, #2c2c2c);
			user-select: none;
			-webkit-user-select: none;
		}
		
		&[open] {
			padding-bottom: 0.25rem;
		}
		
		&:not(:last-child) {
			margin-bottom: 0.5rem;
		}
	}
	
	hr {
		/* 20px is half of a ul's padding-inline-start */
		margin-left: 20px;
		margin-right: 20px;
	}
}

@media screen and (width > 700px) {
	body {
		display: grid;
		grid-template-columns: 1fr min-content 1rem auto 1fr;
		
		max-width: initial; /* we'll do our max-width ourself! */
		margin: 1rem;
	}
	
	navigation-sidebar {
		grid-column: 2;
	}
	
	#navigation-details {
		display: none;
	}
	
	page-content {
		grid-column: 4;
		
		overflow-x: auto; /* this fixes large tables stretching too far horizontally */
		
		& > *:not(.unlimited-width) {
			box-sizing: border-box; /* include padding for things like ols */
			max-width: 90rch;
		}
		
		& > *:first-child {
			margin-top: 0; /* don't duplicate the body margin */
		}
	}
}

@media screen and (width <= 700px) {
	html {
		position: relative; /* this allows the navigation-details to expand to full size, otherwise it doesn't have a proper container to be absolutely filling */
	}
	
	navigation-sidebar {
		display: none;
	}
	
	#navigation-details {
		position: absolute;
		inset: 0;
		
		& > summary {
			display: block;
			position: fixed;
			bottom: 1rem;
			right: 1rem;
			z-index: 1;
			width: 4rem;
			height: 4rem;
			background-color: var(--button-color);
			border-radius: 50%;
			
			&:active {
				background-color: var(--button-pressed-color);
			}
			
			img {
				width: 2rem;
				height: 2rem;
				margin: 1rem;
			}
		}
		
		nav {
			padding: 1rem; /* margin doesn't show up in overflow */
		}
		
		&[open] {
			background-color: var(--background-color);
			
			#open-navigation-menu {
				display: none
			}
		}
		
		&:not([open]) {
			pointer-events: none;
			
			& > summary {
				pointer-events: all;
			}
			
			#close-navigation-menu {
				display: none
			}
		}
	}
}

img {
	image-rendering: crisp-edges;
}
