<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{ page.title }}</title>
		<link rel="icon" href="/fftechwiki/images/stamp.png">
		<link rel="apple-touch-icon" href="/fftechwiki/images/stamp-large.png">
		
		<meta name="theme-color" content="white" media="(prefers-color-scheme: light)"/>
		<meta name="theme-color" content="#161a1c" media="(prefers-color-scheme: dark)"/>
		
		{%- if page.description and page.description != "" -%}
			<meta name="description" content="{{ page.description }}">
		{%- endif -%}
		
		<style>
			{%- render "main.css" -%}
			
			{%- render "wiki.css" -%}
			
			{%- if page.data.style -%}
				{%- assign styleFile = page.data.style | append: ".css" -%}
				{%- render styleFile -%}
			{%- endif -%}
		</style>
		
		{%- if page.data.script -%}
			<script>
				{%- assign scriptFile = page.data.script | append: ".js" -%}
				{%- render scriptFile -%}
			</script>
		{%- endif -%}
	</head>
	<body>
		<details id="navigation-details">
			<summary>
				<img id="open-navigation-menu" src="/fftechwiki/images/menu.svg">
				<img id="close-navigation-menu" src="/fftechwiki/images/close.svg">
			</summary>
			
			<!-- FIXME: https://github.com/cobalt-org/liquid-rust/issues/602 -->
			<nav>{%- render "navigation.html", site: site, page: page -%}</nav>
			
			<hr id="navigation-separator">
		</details>
		
		<page-content>
			<h1>{{ page.title }}</h1>
			
			{{- page.content -}}
			
			{%- unless page.data.nofooter -%}
				<footer>
					<p><a href="https://github.com/simonomi/fftechwiki/edit/main/{{ page.file.permalink }}">Edit this page</a> or <a href="https://github.com/simonomi/fftechwiki/issues">report an issue</a></p>
					<small>© <time datetime="{{ "now" | date: "%Y" }}">{{ "now" | date: "%Y" }}</time> alice pellerin</small>
				</footer>
			{%- endunless -%}
		</page-content>
	</body>
</html>
