<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{{ page.title }}</title>
		<link rel="icon" href="/fftechwiki/images/stamp.png">
		
		{%- if page.description -%}
			<meta name="description" content="{{ page.description }}">
		{%- endif -%}
		
		<style>
			{%- capture maincss -%}
				{%- include main.css -%}
			{%- endcapture -%}
			{{- maincss | normalize_whitespace -}}
			
			{%- capture wikicss -%}
				{%- include wiki.css -%}
			{%- endcapture -%}
			{{- wikicss | normalize_whitespace -}}
			
			{%- if page.style -%}
				{%- capture pagecss -%}
					{%- include {{ page.style }}.css -%}
				{%- endcapture -%}
				{{- pagecss | normalize_whitespace -}}
			{%- endif -%}
		</style>
		
		{%- if page.script -%}
			<script>
				{%- include {{ page.script }}.js -%}
			</script>
		{%- endif -%}
	</head>
	<body>
		<page-content>
			<hgroup>
				<h1>{{ page.title }}</h1>
			</hgroup>
			
			{{- content -}}
		</page-content>
		
		<navigation-sidebar>
			{%- include navigation.html -%}
		</navigation-sidebar>
		
		<details id="navigation-details">
			<summary>
				<img id="open-navigation-menu" src="/fftechwiki/images/menu.svg">
				<img id="close-navigation-menu" src="/fftechwiki/images/close.svg">
			</summary>
			
			{%- include navigation.html -%}
		</details>
		
		{%- unless page.nofooter -%}
			<footer>
				<small>© <time>{{ "now" | date: "%Y" }}</time> alice pellerin</small>
			</footer>
		{%- endunless -%}
	</body>
</html>
